<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ApiUrl" value="https://sg-xmlgw.orxenterprise.com/TripsWrapper" />
    <add key="Logging.RedislistKey" value="Stage-LoggingQueue" />
    <add key="Logging.RedisServerConnString" value="private-redis-stage.loyaltytravelservices.com:6379" />
    <add key="OskiTenantId" value="123456" />
  </appSettings>
</configuration>