<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ApiUrl" value="https://xmlgw.orxenterprise.com/TripsWrapper/" />
    <add key="Logging.RedislistKey" value="Prod-LoggingQueue" />
    <add key="Logging.RedisServerConnString" value="private-redis.cnxloyalty.com:6379" />
    <add key="IsEnableJsonContractFormatting" value="True" />
  </appSettings>
</configuration>