<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ApiUrl" value="https://sg-xmlgw.orxenterprise.com/TripsWrapper/" />
    <add key="Logging.RedislistKey" value="Stage-LoggingQueue" />
    <add key="Logging.RedisServerConnString" value="private-redis-stage.loyaltytravelservices.com:6379" />
    <add key="IsEnableJsonContractFormatting" value="True" />

    <!--<add key="TripsUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}" />
    <add key="TripsPassengerUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/passengers" />
    <add key="TripsTransactionUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/transactions" />
    <add key="TripsVouchersUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/vouchers" />
    <add key="TripsNotesUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/notes" />
    <add key="TripsHotelUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels" />
    <add key="TripsHotelByBookingIdUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}" />
    <add key="HotelBookingPassengersUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{0}/passengers" />
    <add key="HotelBookingFaresUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/fares" />
    <add key="HotelBookingRateUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/rates" />
    <add key="HotelBookingVoucherUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/vouchers" />
    <add key="HotelSearchQueryUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/searchquery" />
    <add key="HotelBookingTransactionUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/transactions" />
    <add key="BookedHotelDetailsUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/hotel" />
    <add key="IsEnableJsonContractFormatting" value="True" />
    <add key="oski-tenantId" value="123456" />
    <add key="OwnerEmail" value="	noreply@cxloyalty.com" />
    <add key="OwnerFirstName" value="Valued" />
    <add key="OwnerLastName" value="Customer" />
    <add key="DisplayCurrency" value="USD" />
    <add key="RuleGroupId" value="511" />
    <add key="ExRate" value="1" />
    <add key="RuleGroupName" value="Pay in Cash" />
    <add key="RuleGroupType" value="Purchase" />
    <add key="AccountId" value="7" />
    <add key="Branch" value="711" />
    <add key="RequesterCode" value="123456" />
    <add key="RequesterPosDk" value="123456" />
    <add key="oskitripsbookingdetailsurl" value="https://stage.cnxloyalty.com/data/api/v1.0/trips/{0}?oski-tenantid={1}"/>-->
  </appSettings>
</configuration>