<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ApplicationLog" type="Tavisca.Frameworks.Logging.Configuration.ApplicationLogSection, Tavisca.Frameworks.Logging" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />

  </configSections>
   <ApplicationLog exceptionSwitch="On" eventSwitch="On" maxThreads="5" minPriority="Medium" defaultLogger="Tavisca.Frameworks.Logging.Extensions.Sinks.RedisSink, Tavisca.Frameworks.Logging.Extensions" compressionType="Zip" customLocatorAdapter="Tavisca.Frameworks.Logging.Extensions.DependencyInjection.Adapters.ReflectionAdapter, Tavisca.Frameworks.Logging.Extensions" customFormatter="Tavisca.Frameworks.Logging.Extensions.Formatters.CreditCardMaskFormatter, Tavisca.Frameworks.Logging.Extensions">
    <categories>
      <add name="Default">
        <loggers>
          <add name="RedisSink" />
        </loggers>
      </add>
      <add name="LogOnlyPolicy">
        <loggers>
          <add name="RedisSink" />
        </loggers>
      </add>
    </categories>
    <traceLoggers>
      <add name="RedisSink" />
    </traceLoggers>
  </ApplicationLog>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Log Only Policy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add logCategory="Exceptions" eventId="100" severity="Error" Title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" type="Tavisca.TravelNxt.Frameworks.Logging.ExceptionHandler, Tavisca.TravelNxt.Frameworks.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <appSettings>
    <add key="ApiUrl" value="https://sg-xmlgw.orxenterprise.com/TripsWrapper/" />
    <add key="Logging.RedislistKey" value="K-Dev-LoggingQueue" />
    <add key="Logging.RedisServerConnString" value="192.168.2.99:6379" />
    <add key="IsEnableJsonContractFormatting" value="True" />

    <!-- Trip service keys - Platform Trips Urls-->
    <!--<add key="TripsUrl" value="http://localhost:5000/trips/{0}" />
    <add key="TripsPassengerUrl" value="http://localhost:5000/trips/{0}/passengers" />
    <add key="TripsTransactionUrl" value="http://localhost:5000/trips/{0}/transactions" />
    <add key="TripsVouchersUrl" value="http://localhost:5000/trips/{0}/vouchers" />
    <add key="TripsNotesUrl" value="http://localhost:5000/trips/{0}/notes" />
    <add key="TripsHotelUrl" value="http://localhost:5000/trips/{0}/hotels" />
    <add key="TripsHotelByBookingIdUrl" value="http://localhost:5000/trips/{0}/hotels/{1}" />
    <add key="HotelBookingPassengersUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/passengers" />
    <add key="HotelBookingFaresUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/fares" />
    <add key="HotelBookingRateUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/rates" />
    <add key="HotelBookingVoucherUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/vouchers" />
    <add key="HotelSearchQueryUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/searchquery" />
    <add key="HotelBookingTransactionUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/transactions" />
    <add key="BookedHotelDetailsUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/hotel" />
    <add key="TripsTransactionsUrl" value="http://localhost:5000/trips/{0}/hotels/{1}/hotelBookings" />-->

    <!--<add key="TripsUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}" />
    <add key="TripsPassengerUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/passengers" />
    <add key="TripsTransactionUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/transactions" />
    <add key="TripsVouchersUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/vouchers" />
    <add key="TripsNotesUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/notes" />
    <add key="TripsHotelUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels" />
    <add key="TripsHotelByBookingIdUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}" />
    <add key="HotelBookingPassengersUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{0}/passengers" />
    <add key="HotelBookingFaresUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/fares" />
    <add key="HotelBookingRateUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/rates" />
    <add key="HotelBookingVoucherUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/vouchers" />
    <add key="HotelSearchQueryUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/searchquery" />
    <add key="HotelBookingTransactionUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/transactions" />
    <add key="BookedHotelDetailsUrl" value="https://s3.amazonaws.com/data-trips-apis/trips/{0}/hotels/{1}/hotel" />-->

    <!--<add key="TripsUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}" />
    <add key="TripsPassengerUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/passengers" />
    <add key="TripsTransactionUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/transactions" />
    <add key="TripsVouchersUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/vouchers" />
    <add key="TripsNotesUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/notes" />
    <add key="TripsHotelUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels" />
    <add key="TripsHotelByBookingIdUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/hotel" />
    <add key="HotelBookingPassengersUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/passengers" />
    <add key="HotelBookingFaresUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/fares" />
    <add key="HotelBookingRateUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/rates" />
    <add key="HotelBookingVoucherUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/vouchers" />
    <add key="HotelSearchQueryUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/searchQuery" />
    <add key="HotelBookingTransactionUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/transactions " />
    <add key="BookedHotelDetailsUrl" value="https://dev-data.oski.tavisca.com/data/api/v1.0/trips/{0}/hotels/{1}/hotel" />-->


     <!--<add key="TripsUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}" />
    <add key="TripsPassengerUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/passengers" />
    <add key="TripsTransactionUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/transactions" />
    <add key="TripsVouchersUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/vouchers" />
    <add key="TripsNotesUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/notes" />
    <add key="TripsHotelUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels" />
    <add key="TripsHotelByBookingIdUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/hotel" />
    <add key="HotelBookingPassengersUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/passengers" />
    <add key="HotelBookingFaresUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/fares" />
    <add key="HotelBookingRateUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/rates" />
    <add key="HotelBookingVoucherUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/vouchers" />
    <add key="HotelSearchQueryUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/searchQuery" />
    <add key="HotelBookingTransactionUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/transactions " />
    <add key="BookedHotelDetailsUrl" value="https://private-data.stage.oski.io/api/v1.0/trips/{0}/hotels/{1}/hotel" />-->


    <!--
    <add key="oski-tenantId" value="123456" />
    <add key="OwnerEmail" value="test@test.com" />
    <add key="OwnerFirstName" value="Demo" />
    <add key="OwnerLastName" value="test" />
    <add key="DisplayCurrency" value="USD" />
    <add key="RuleGroupId" value="511" />
    <add key="ExRate" value="1" />
    <add key="RuleGroupName" value="Pay in Cash" />
    <add key="RuleGroupType" value="Purchase" />
    <add key="AccountId" value="7" />
    <add key="ClientId" value="103" />
    <add key="Branch" value="711" />
    <add key="RequesterCode" value="123456" />
    <add key="RequesterPosDk" value="123456" />
    <add key="oskitripsbookingdetailsurl" value="https://stage.cnxloyalty.com/data/api/v1.0/trips/{0}?oski-tenantid={1}"/>-->
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Consul" publicKeyToken="20a6ad9a81df1d95" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.6.4.7" newVersion="0.6.4.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>